!**/[Pp]ackages/build/
!.axoCover/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
!?*.[Cc]ache/
$RECYCLE.BIN/
$tf/
*$py.class
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.HTMLClient/GeneratedArtifacts
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
**/[Pp]ackages/*
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl
*- [Bb]ackup.rdl
*.[Cc]ache
*.[Pp]ublish.xml
*.[Rr]e[Ss]harper
*.appx
*.appxbundle
*.appxupload
*.aps
*.azurePubxml
*.bim.layout
*.bim_*.settings
*.binlog
*.btm.cs
*.btp.cs
*.build.csdef
*.cab
*.cachefile
*.cover
*.coverage
*.coveragexml
*.dbmdl
*.dbproj.schemaview
*.dotCover
*.DotSettings.user
*.e2e
*.egg
*.egg-info/
*.GhostDoc.xml
*.gpState
*.ilk
*.iobj
*.ipdb
*.ipynb
*.iws
*.jfm
*.jmconfig
*.ldf
*.lnk
*.log
*.manifest
*.mdf
*.mm.*
*.mo
*.msi
*.msix
*.msm
*.msp
*.ncb
*.ndf
*.nuget.props
*.nuget.targets
*.nupkg
*.nvuser
*.obj
*.odx.cs
*.opendb
*.opensdf
*.opt
*.pch
*.pdb
*.pfx
*.pgc
*.pgd
*.pidb
*.plg
*.pot
*.psess
*.publishproj
*.publishsettings
*.pubxml
*.py,cover
*.py[cod]
*.pyc
*.rdl.data
*.rptproj.bak
*.rptproj.rsuser
*.rsp
*.rsuser
*.sage.py
*.sap
*.sbr
*.scc
*.sdf
*.sln.docstates
*.snupkg
*.so
*.spec
*.stackdump
*.suo
*.svclog
*.tlb
*.tlh
*.tli
*.tmp
*.tmp_proj
*.tss
*.user
*.userosscache
*.userprefs
*.vbw
*.VC.db
*.VC.VC.opendb
*.VisualState.xml
*.vsp
*.vspscc
*.vspx
*.vssscc
*.xsd.cs
*_h.h
*_i.c
*_p.c
*_wpftmp.csproj
*~
.*crunch*.local.xml
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.axoCover/*
.builds
.cache
.com.apple.timemachine.donotpresent
.coverage
.coverage.*
.cr/personal
.dmypy.json
.DocumentRevisions-V100
.DS_Store
.eggs/
.env
.fake/
.fseventsd
.history
.hypothesis/
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/markdown-navigator.xml
.idea/**/markdown-navigator/
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sonarIssues.xml
.idea/**/sonarlint/
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/caches/build_file_checksums.ser
.idea/httpRequests
.idea/replstate.xml
.idea_modules/
.installed.cfg
.ipynb_checkpoints
.JustCode
.localhistory/
.LSOverride
.mfractor/
.mr.developer.cfg
.mypy_cache/
.nox/
.ntvs_analysis.dat
.paket/paket.exe
.project
.pydevproject
.pyre/
.pytest_cache/
.Python
.python-version
.ropeproject
.sass-cache/
.scrapy
.secrets.baseline
.Spotlight-V100
.spyderproject
.spyproject
.TemporaryItems
.tox/
.Trashes
.venv
.VolumeIcon.icns
.vs/
.vscode/*
.webassets-cache
/site
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]in/
[Bb]uild[Ll]og.*
[Dd]ebug/
[Dd]ebugPS/
[Dd]ebugPublic/
[Dd]esktop.ini
[Ee]xpress/
[Ll]og/
[Oo]bj/
[Rr]elease/
[Rr]eleasePS/
[Rr]eleases/
[Tt]est[Rr]esult*/
__pycache__/
__pypackages__/
_Chutzpah*
_NCrunch_*
_pkginfo.txt
_Pvt_Extensions
_ReSharper*/
_TeamCity*
_UpgradeReport_Files/
AppPackages/
artifacts/
ASALocalRun/
atlassian-ide-plugin.xml
AutoTest.Net/
Backup*/
BenchmarkDotNet.Artifacts/
bld/
build/
BundleArtifacts/
celerybeat-schedule
celerybeat.pid
ClientBin/
cmake-build-*/
com_crashlytics_export_strings.xml
config.ini
coverage.xml
crashlytics-build.properties
crashlytics.properties
csx/
db.sqlite3
db.sqlite3-journal
develop-eggs/
dist/
dlldata.c
dmypy.json
DocProject/buildhelp/
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/*.HxC
DocProject/Help/*.HxT
DocProject/Help/html
DocProject/Help/Html2
docs/_build/
downloads/
ecf/
eggs/
ehthumbs.db
ehthumbs_vista.db
env.bak/
env/
ENV/
fabric.properties
FakesAssemblies/
Generated\ Files/
Generated_Code/
healthchecksdb
htmlcov/
Icon
instance/
ipch/
ipython_config.py
lib/
lib64/
local_settings.py
MANIFEST
MigrationBackup/
mono_crash.*
nCrunchTemp_*
Network Trash Folder
node_modules/
nosetests.xml
nunit-*.xml
OpenCover/
orleans.codegen.cs
out/
Package.StoreAssociation.xml
paket-files/
parts/
pip-delete-this-directory.txt
pip-log.txt
pip-wheel-metadata/
profile_default/
project.fragment.lock.json
project.lock.json
publish/
PublishScripts/
rcf/
sdist/
ServiceFabricBackup/
share/python-wheels/
StyleCopReport.xml
target/
Temporary Items
test/
TestResult.xml
Thumbs.db
Thumbs.db:encryptable
UpgradeLog*.htm
UpgradeLog*.XML
var/
venv.bak/
venv/
wheels/
x64/
x86/
~$*
